doctype html
html(lang="en")
	head
		title= "Ecosol Stone"
		meta(charset="utf-8")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="js/jquery.bxslider.js")
		script(src="js/bxslider.js")
		link(href="stylesheets/jquery.bxslider.css" rel="stylesheet")
		link(rel="stylesheet" href="stylesheets/main.css")
	body 
		header.header#s-header
			.header__top
				.container.cf
					a(href="index.html").header__logo
						img(src="images/logo/ecosol.png" width="275" height="75" alt="Ecosol stone")
					nav.header-navigation
						ul
							li.header-navigation__item.active
								a(href="javascript:void(0);").header-navigation__link Home
							li.header-navigation__item
								a(href="javascript:void(0);").header-navigation__link About us
							li.header-navigation__item
								a(href="javascript:void(0);").header-navigation__link Specs
							li.header-navigation__item
								a(href="javascript:void(0);").header-navigation__link Products
							li.header-navigation__item
								a(href="javascript:void(0);").header-navigation__link Gallery 
							li.header-navigation__item
								a(href="javascript:void(0);").header-navigation__link Contact
		.container 
			section.slider 
				h1.slider__title Nobody does it like ecosol stone!
				ul.slider__list
					li.slider__img 
						img(src="images/content/slider.png" width="1180" height="576")
					li.slider__img 
						img(src="images/content/room.jpg" width="1180" height="576")
					li.slider__img 
						img(src="images/content/luxury.jpg" width="1180" height="576")
					li.slider__img 
						img(src="images/content/appartament.jpg" width="1180" height="576")
		section.about
			.container.cf
				h3.title About us
				.about__content
					p.about__text Architectural Stone ECOSOL Stone excels at stone manufacturing, stone installation and brick laying. We offer a large variety of stone and brick veener products from our stone manufacturing factory. The choice is yours. In size, texture, color and shape, no one has better selection.
						span To view all different stone and brick products please check our products selection. 
						span To view what services we offer, check out ourservices page. 
						span Or feel free to visit out showroom
					a(href="javascript:void(0);").btn Read more...
				.about__img
					img(src="images/content/garage.png" width="395" height="270")
		section.products
			.container
				h3.title Products
				ul.products__list 
					li 
						figure 
							img(src="images/content/texture1.png" width="185" height="184" alt="Texture")
							figcaption Rustic Ledgestone
					li 
						figure 
							img(src="images/content/texture2.png" width="185" height="184" alt="Texture")
							figcaption Flint Rock
					li 
						figure 
							img(src="images/content/texture3.png" width="185" height="184" alt="Texture")
							figcaption European castle stone
					li 
						figure 
							img(src="images/content/texture4.png" width="185" height="184" alt="Texture")
							figcaption European lime stone
					li 
						figure 
							img(src="images/content/texture5.png" width="185" height="184" alt="Texture")
							figcaption Quick fit comp-ledge
					li 
						figure 
							img(src="images/content/texture6.png" width="185" height="184" alt="Texture")
							figcaption Accessories
		section.services
			.container
				h3.title Our services
				p.services__info ECOSOL Stone provides the best installation services. Using our product, ECOSOL Stone does professional installation in timing manner. For more information please contact ECOSOL Stone Ltd. representatives at 647-887-2706 or 416-671-1270.
				.services__content.cf
					.services__features
						figure
							img(src="images/general/good1.png" width="186" height="176")
							figcaption High quality in timely manner
					.services__features
						figure
							img(src="images/general/good2.png" width="186" height="176")
							figcaption Increase your home's equity and get a perfect look 
					.services__features
						figure
							img(src="images/general/good3.png" width="186" height="176")
							figcaption High quality in timely manner 
		section.news
			.container  
				a(href="javascript:void(0);").btn-prev
				a(href="javascript:void(0);").btn-next
				h3.title Latest news
				ul.news-group 
					li.news__item 
						img(src="images/content/house1.png" width="382" height="231")
						.news__wrapper
							span.news__descr  Architectural Stone ECOSOL Stone
							p.news__text Architectural Stone ECOSOL Stone excels at stone manufacturing, stone installation and brick laying. We offer a large variety of stone and brick veener products from our stone manufacturing factory. The choice is yours. In size, texture, color and shape, no
							a(href="javascript:void(0);").btn Read more...
					li.news__item
						img(src="images/content/tvset.png" width="382" height="231")
						.news__wrapper
							span.news__descr  Architectural Stone ECOSOL Stone
							p.news__text Architectural Stone ECOSOL Stone excels at stone manufacturing, stone installation and brick laying. We offer a large variety of stone and brick veener products from our stone manufacturing factory. The choice is yours. In size, texture, color and shape, no 
							a(href="javascript:void(0);").btn Read more...
					li.news__item 
						img(src="images/content/house2.png" width="382" height="231")
						.news__wrapper
							span.news__descr  Architectural Stone ECOSOL Stone
							p.news__text Architectural Stone ECOSOL Stone excels at stone manufacturing, stone installation and brick laying. We offer a large variety of stone and brick veener products from our stone manufacturing factory. The choice is yours. In size, texture, color and shape, no
							a(href="javascript:void(0);").btn Read more...
		section.gallery
			.container 
				h3.title Gallery
				ul.gallery-wrapper
					li.gallery__img
						img(src="images/general/gallery1.png" width="282" height="167" alt="Gallery")
					li.gallery__img
						img(src="images/general/gallery2.png" width="282" height="167" alt="Gallery")
					li.gallery__img
						img(src="images/general/gallery3.png" width="282" height="167" alt="Gallery")
					li.gallery__img
						img(src="images/general/gallery4.png" width="282" height="167" alt="Gallery")
					li.gallery__img
						img(src="images/general/gallery5.png" width="282" height="167" alt="Gallery")
					li.gallery__img
						img(src="images/general/gallery6.png" width="282" height="167" alt="Gallery")
					li.gallery__img
						img(src="images/general/gallery7.png" width="282" height="167" alt="Gallery")
					li.gallery__img
						img(src="images/general/gallery8.png" width="282" height="167" alt="Gallery")
				a(href="javascript:void(0);").btn View more...
		footer.footer
			.footer-top
				.container 
					h3.title Contacts 
					b.footer__name Call us
					.footer__phone 416-840-4989
					.footer__group.cf
						.footer__map
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.9705303742985!2d24.70502467252242!3d48.91595371410965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c14014e529a3%3A0x9fecc77e5d5e91e!2z0LLRg9C70LjRhtGPINCQ0LrQsNC00LXQvNGW0LrQsCDQodCw0YXQsNGA0L7QstCwLCA3LCDQhtCy0LDQvdC-LdCk0YDQsNC90LrRltCy0YHRjNC6LCDQhtCy0LDQvdC-LdCk0YDQsNC90LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1488493516993" width="296" height="215" frameborder="0" style="border:0" allowfullscreen)
						address.footer__elem
							span Address:
							p 31 Haas Rd., Toronto, ON M9W 3A1   (Toronto stone)
						.footer__elem
							span Telephone:
							p Office: 416-840-498 Cell: 647-887-2706
						.footer__elem
							span Email:
							p sales@ecosolstone.com (Toronto stone)
						.footer__elem
							span Social media:
							a(href="javascript:void(0);").btn-media.btn-media--fb
							a(href="javascript:void(0);").btn-media.btn-media--tw
					.footer__subscribe.cf
							input(type="email" placeholder="Email Adress").footer__input
							button subscribe
							span Subscribe to the latest products,  news and services.
			.footer-bottom
				.container
					p All rights reserved &copy;
					a(href="#s-header").footer-btn__arrow Go to top

